
.main{
    background: url('mian.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    scroll-behavior: none;
    overflow: hidden;
    
}
.header{
    
 
    color: black;
    resize: none;
    padding-left: 90%; ;
    
    padding-bottom: 0%;
    background-color: rgb(190, 157, 28);
    width: 90%;
    padding-top: 0%;
    max-width: 600px;
    margin: 50px 490px 0 400px;
    height: 60px;
    border-radius: 20px;
    padding: 3px;
    align-content: center;
    
    


}
.rules{
    
    padding: 10px;
    padding: 10% auto 0;
    align-items: center;
    padding-top: 1%;
    padding-left: 39%;
    font-family: sans-serif;
    max-width: 1000px;
    color: aliceblue;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: mintcream;
    
    
}
.mark{
    background-color: gainsboro;
    font-family: 'Times New Roman', Times, serif;
    color: orangered;
}
.button{
   align-items: center;
   padding-left: 48%;
   width: 10%;
   
}
#b1{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: yellowgreen;
    color: brown;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}